.img-container{
    text-align: center;
    
    
}
.main-div{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
}
h3{
    color:rgb(76, 119, 33);
}
body{
    background-color: rgb(255, 255, 255);
}
