.container {
  width: 1000px;
  margin: 10px auto;
  line-height: 1.4;
  font-size: 18px;
}
.img-left {

    margin: 0 15px 10px 0;
  float: left;
  width: 420px;
  
}


.img-right {
  float: right;
  margin: 10px 0 10px 15px;

  width: 380px;
}